<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">라온</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">

      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">


       <li class="nav-item">
          <a class="nav-link" href="/introduce" style="color:black">라온</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
            메뉴
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/drink"style="color:black" >음료</a></li>
            <li><a class="dropdown-item" href="/dessert" style="color:black">디저트</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/question/question_list" style="color:black">레시피</a>
        </li>


      </ul>
      <form class="d-flex">
           {% if g.user %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
        </ul>
        {%else %}
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('auth.signup') }}">회원가입</a>
        </li>
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">로그인</a>
        </li>
          </ul>
          {% endif %}
      </form>
    </div>
  </div>
</nav>